<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create new lead</title>
</head>
<body>

	<form th:method="POST" th:action="@{/leads}" th:object="${lead}">
	    <label for="firstName">First Name </label>
	    <input type="text" th:field="*{firstName}" id="firstName"/>
	    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
            <br/>
	    <label for="lastName">Last Name </label>
	    <input type="text" th:field="*{lastName}" id="lastName"/>
            <br/>
	    <label for="title">Title </label>
	    <input type="text" th:field="*{title}" id="title"/>
            <br/>
        <label for="email">Email </label>
	    <input type="text" th:field="*{email}" id="email"/>
	    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
            <br/>
	    <label for="proof">Proof Link </label>
	    <input type="text" th:field="*{proof}" id="proof"/>
            <br/>
        <input type="submit" value="Create!"/>
     </form>

</body>
</html>